header{
    display: flex;
    flex-wrap: wrap;
}
h1{
    font-size: 3rem;
}
button{
    margin-left: 10%;
}

.row{
    display: flex;
    flex-wrap: nowrap;
   
    
}
.col{
    border: 1px solid black;
    width: 10%;
    padding-top:10%;
}

.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: black;
    text-align: center;
}
.box-content{

}

@media(max-width: 900px) {
    .col{
        border: 1px solid black;
        width: 23%;
        padding-top:23%;
    }

    
}