html *{
    font-family: 'Rubik Moonrocks', cursive;
    color: #5d4257;
    color: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);
}
body{
    margin-left: 5%;
}

header{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
   
}
h1{
    font-size: 4rem;
    
}
button{
    margin-left: 5%;
    font-size: 3rem;
    
}
p{
    font-size: 6rem;
}

.row{
    display: flex;
    flex-wrap: nowrap;
   
    
}
.col{
    border: 1px solid black;
    width: 10%;
    padding-top:10%;
    position: relative;
}

.box-content{
    position:  absolute;
    right: 50%;
    bottom: 30%;
}


@media(max-width: 900px) {
    .col{
        border: 1px solid black;
        width: 21%;
        padding-top:21%;
    }
    html {
        font-size: 40.5%;
    }
    h1{
        font-size: 5rem;

    
}

